<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Musicoin Admin Dashboard</title>
  <link rel="stylesheet" href="/dependencies/admin/css/admin.min.css">
  <link rel="stylesheet" href="/dependencies/admin/css/font-awesome.min.css">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <%- include admin-header.ejs %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">Musicoin Admin</h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item">
                    <a href="https://musicoin.org/feed">Musicoin</a>
                  </li>
                  <li class="breadcrumb-item active">Musicoin Admin</li>
                </ol>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Info boxes -->
            <div class="row">
              <div class="col-lg-2 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                  <div class="inner">
                    <h3>
                      <%=totalUser %>
                    </h3>
                    <p>Users Count</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-bag"></i>
                  </div>
                  <p class="small-box-footer">Last Day Count
                    <%=lastDayUser%>
                  </p>
                </div>
              </div>
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                  <div class="inner">
                    <h3>
                      <%=artistCount %>
                    </h3>
                    <p>Artists Count</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-bag"></i>
                  </div>
                  <p class="small-box-footer">Verified Artist Count
                    <%=verifiedCount%>
                  </p>
                </div>
              </div>
              <!-- /.col -->

              <!-- fix for small devices only -->
              <div class="clearfix hidden-md-up"></div>
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                  <div class="inner">
                    <h3>
                      <%=totalRelease %>
                    </h3>
                    <p>Release Count</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-bag"></i>
                  </div>
                  <p class="small-box-footer">Last Day Count
                    <%=lastDayRelease%>
                  </p>
                </div>
              </div>
              <div class="col-lg-2 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                  <div class="inner">
                    <h3>
                      <%=playCount %>
                    </h3>
                    <p>Total Play Count</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-bag"></i>
                  </div>
                  <p class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></p>
                </div>
              </div>
              <div class="col-lg-2 col-6">
                <!-- small box -->
                <div class="small-box bg-dark">
                  <div class="inner">
                    <h3>
                      <%=totalTip %>
                    </h3>
                    <p>Total Tip Count</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-bag"></i>
                  </div>
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- /.row -->

            <!-- Main row -->
            <!-- /.row -->
          </div>
          <!--/. container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
  </div>
  <!-- ./wrapper -->
  <%- include admin-footer.ejs %>
    <!-- plugins:js -->
    <script src="/dependencies/admin/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/dependencies/admin/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/dependencies/admin/js/admin.js"></script>
    <!-- PAGE PLUGINS -->
    <!-- SparkLine -->
    <script src="/dependencies/admin/js/jquery.sparkline.min.js"></script>
    <script src="/dependencies/admin/js/chart.min.js"></script>
    <!-- End custom js for this page-->
</body>

</html>
