<!doctype html>
<html>
<head>
    <title>Contacts - Musicoin</title>
    <%- include('../partials/page-head.ejs') %>
    <style>
        body {
            word-wrap: break-word;
        }

        .history {
            padding: 3px;
            min-width: 20px;
        }

        .history-nav {
            display: flex;
            justify-content: space-between;
        }

        .history-nav-link {
            margin-left: 10px;
            font-size: 14pt;
        }

        .history-nav-link-disabled {
            margin-left: 10px;
            font-size: 14pt;
            color: #aaa
        }

        tr.claimed {
            background-color: rgba(0, 200, 0, 0.1);
        }

        tr.profile {
            background-color: rgba(0, 200, 0, 0.2);
        }

        .table > tbody > tr > td {
            vertical-align: middle;
        }
    </style>
</head>
<body>
<%- include('../partials/header.ejs') %>
<div class="container">
    <div class="search-area mb20">
        <div class="col-sm-5">
            <form action="/admin/contacts" method="get">
                <div class="flex-row">
                    <i class="fa fa-search shift-r20 subtle-text" aria-hidden="true"></i>
                    <input class="form-control text-large pl25"
                           name="search"
                           value="<%= search %>" placeholder="Search contacts"
                           autofocus onfocus="this.value = this.value;">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="m10 white-well pad10">
    <div class="history-nav ">
        <div>
            <%= navigation.description %>
        </div>
        <div>
            Show
            <a class="history-nav-link" href="<%= navigation.show10 %>">10</a>
            <a class="history-nav-link" href="<%= navigation.show25 %>">25</a>
            <a class="history-nav-link" href="<%= navigation.show50 %>">50</a>
            <a class="history-nav-link" href="<%= navigation.download %>" style="margin-left: 20px; font-size: 0.9em">
                <i class="fa fa-download" aria-hidden="true"></i> Download All
            </a>
        </div>
        <div>
            <% if (navigation.start) { %>
            <a class="history-nav-link" href="<%= navigation.start %>">first</a>
            <% } %>
            <% if (navigation.back) { %>
            <a class="history-nav-link" href="<%= navigation.back %>">back</a>
            <% } %>
            <% if (navigation.next) { %>
            <a class="history-nav-link" href="<%= navigation.next %>">next</a>
            <% } else { %>
            <span class="history-nav-link-disabled">next</span>
            <% } %>
        </div>
    </div>
    <a href="https://musicoin.org/admin/" class="btn btn-info btn-sm mr5" role="button">Go To Admin Panel</a>
    <table class="table table-responsive white-well">
        <tr>
            <th class="text-center">email</th>
            <th class="text-center">name</th>
            <th class="text-center">profile</th>
        </tr>

        <% for (var ivt = 0; ivt < users.length; ivt++) {
            var user = users[ivt];
        %>
        <tr>
            <td class="text-center middle"><%= user.email %></td>
            <td class="text-center middle"><%= user.name %></td>
            <td class="text-center middle"><a target="_blank" href="/artist/<%= user.profileAddress %>"><%= user.artistName %></a></td>
        </tr>
        <% } %>
    </table>
</div>

<%- include('../partials/connect-with-us.ejs') %>
</body>
</html>
